/* Reset some default styles */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Box sizing border-box for all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: black;
}

.container {
  background: linear-gradient(135deg, #4facfe, #00f2fe); /* Gradient màu nền */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Đổ bóng mịn hơn */
}
.container1, .container2 {
  transition: transform 0.3s ease, background-color 0.3s ease; /* Hiệu ứng hover mượt */
}
.container1:hover, .container2:hover {
  transform: scale(1.02); /* Phóng to nhẹ khi hover */
  background-color: #fff; /* Màu nền sáng hơn khi hover */
}

.hidden {
  display: none;
}

.has-text-centered {
  text-align: center;
}

/* Styling for the buttons */
/* .button {
  margin: 5px;
} */
.button {
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng khi hover */
  transform: translateY(-3px); /* Di chuyển nút lên nhẹ */
}


.is-primary {
  background: linear-gradient(45deg, #3273dc, #00d1b2); /* Gradient nút chính */
}
.is-info {
  background: linear-gradient(45deg, #209cee, #2ecc71); /* Gradient nút thông tin */
}
.is-danger {
  background: linear-gradient(45deg, #ff3860, #ff6347); /* Gradient nút cảnh báo */
}

.share-button {
  background: linear-gradient(45deg, #3273dc, #00d1b2); /* Gradient nút chính */
  color: #fff;
  display: flex;
  align-items: center;
  /* display: none; */
}
.share-button:hover{
  background: linear-gradient(45deg, #3273dc, #00d1b2); 
  color: #fff;
}
/* Styling for the chat section */
.chat-section {
  border: 2px solid #00d1b2;
  background: linear-gradient(135deg, #f4f4f4, #e8e8e8); /* Gradient sáng */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center; /* Căn giữa theo chiều ngang */
}

/* .chat-messages {
  list-style: none;
  margin-bottom: 10px;
  overflow-y: auto;
  max-height: 200px;
} */
.chat-messages {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 500px;
  height: 200px;
  width: 94%; /* Tùy chỉnh chiều rộng để phù hợp với container */
  background: #fff;
  margin-bottom: 10px; /* Thêm khoảng cách phía dưới */
}

.chat-form {
  display: flex;
  margin-top: 10px;
}

.chat-form input {
  flex: 1;
  padding: 5px;
  border: 2px solid #00d1b2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 209, 178, 0.8);
}

.boxChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contentChat {
  height: 50vh;
  overflow-y: auto;
}

/* Styling for the footer controls */
.zoom-footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
  justify-items: center;
}

.audio-control,
.video-control,
.share-screen,
.participants {
  margin: 5px;
}
/* #videos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#videos video {
  flex: 1 1 50%;
  padding: 0;
  min-width: 0;
} */
#videos video {
  border: 5px solid #00d1b2;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#videos video:hover {
  transform: scale(1.05); /* Phóng to nhẹ khi hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
}

/* Additional styles */
.header-highlight {
  color: #ff4954;
}

.info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.info strong {
  color: #ff4954;
}

.info a {
  color: #3273dc;
  text-decoration: underline;
}

.icon {
  width: 100%; /* Chiều rộng ảnh là 100% của phần tử chứa */
  max-width: 400px; /* Tối đa chiều rộng của ảnh là 400px */
  height: auto; /* Tự động tính toán chiều cao để duy trì tỉ lệ khung hình */
  display: block; /* Để loại bỏ khoảng trắng dư thừa dưới ảnh */
  margin: 0 auto;
  border-radius: 2px;
  }
  h1.title {
    color: #ff4954;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  h1.title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #00d1b2;
    margin: 10px auto 0;
    border-radius: 2px;
  }
  
