//- 
//- **Mục đích của file này**:
//- 
//- 1. **Cung cấp giao diện đăng nhập**:
//-    - Hiển thị form đăng nhập với hai trường thông tin: `Tài khoản` và `Mật khẩu`.
//-    - Có nút "Đăng nhập" để người dùng gửi thông tin xác thực.
//- 
//- 2. **Hỗ trợ chức năng quên mật khẩu**:
//-    - Bao gồm thêm giao diện "Quên mật khẩu" được ẩn (`display: none`) khi mở trang.
//-    - Người dùng có thể chuyển đổi giữa giao diện đăng nhập và giao diện quên mật khẩu bằng cách bấm nút.
//- 
//- 3. **Sử dụng JavaScript để chuyển đổi giao diện**:
//-    - Cung cấp hai sự kiện `click`:
//-      - Chuyển từ giao diện đăng nhập sang giao diện quên mật khẩu.
//-      - Chuyển từ giao diện quên mật khẩu trở lại giao diện đăng nhập.
//- 
//- **Kết quả mong đợi**:
//- - Một giao diện đăng nhập đơn giản nhưng đầy đủ chức năng, bao gồm khả năng chuyển đổi sang chế độ quên mật khẩu mà không cần tải lại trang.

extends login

block card-content
    div(id=`login` style="display: block;")   
        .card
            .card-body.login-card-body
                form.form--login
                    .input-group.mb-3
                        input#id.form-control(type="id", required, placeholder="Tài khoản")
                        .input-group-append
                            .input-group-text
                                span.fas.fa-envelope
                    .input-group.mb-3
                        input#password.form-control(type="password",  required, placeholder="Mật khẩu")
                        .input-group-append
                            .input-group-text
                                span.fas.fa-lock
                    .row
                        .col-8
                            button.btn(type="button", id=`login-to-quenmk`) Quên mật khẩu
                        .col-4
                            button.btn.btn-primary.btn-block(style="font-size: 16px; width:110px", type="submit") Đăng nhập
    div(id=`quenmk` style="display: none;") 
        include quenmk 
    script.
        document.getElementById('quenmk-to-login').addEventListener('click', function() {
                        document.getElementById('login').style.display = 'block';
                        document.getElementById('quenmk').style.display = 'none';         
            })
        document.getElementById('login-to-quenmk').addEventListener('click', function() {                
                        document.getElementById('login').style.display = 'none';
                        document.getElementById('quenmk').style.display = 'block';
            })